out/
build/
.bsp/
.idea/
.mill-bin/
.metals/
.vscode/
.bloop/
# vim misc
*.orig
*.swp
# idea
.idea_modules

# test_run_dir
*test_run_dir/

# MacOS
*.DS_Store

# verilog generate
GPGPU_top.v
GPGPU_top.fir
GPGPU_top.anno.json
sim-verilator/verilog-out/
GPU.sv
__pycache__/
skills
sim-verilator-nocache/verilog-out/

gen_fpga_verilog/
ventus/src/L1Cache/DCache/AGENT_CONTEXT/

# Codex CLI marker file
.codex
